body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.btn {
    padding: 8px 45px;
    border: 3px solid #FFFFFF;
    /*background: rgba(0, 0, 0, 0.15);*/
    background: transparent;
    /*box-sizing: border-box;*/
    font-size: 18px;
    color: white;
    transition: 1s all;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* Navigation*/
nav {
    position: fixed;
    width: 100%;
    background: #4E4E4E;
    font-size: 18px;
}

nav a {
    color: #F1F1F1;
    text-decoration: none;
}
nav .container > a {
    font-weight: bold;
    color: #FFFFFF;
}

.nav-right a {
    margin-left: 45px;
}

.nav-right a:first-of-type {
    margin-left: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/* Landing Page */


.landing-page {
    padding-top: 50px;
    box-sizing: border-box;
    height: 100vh;
    background-image: url('https://picsum.photos/seed/picsum/1680/1050');
    background-size: cover;
    background-position: center;
    color: white;
}

.landing-page-shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.landing-page-shadow .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.landing-page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 30%;
    font-weight: bold;
}

.landing-page-text h1 {
    font-size: 36px;
}

.landing-page-text h2 {
    font-size: 18px;
}

/* About us */

.our-crew {
    padding: 50px 0;
    background-color: #F1F1F1;
    color: black;
}
.our-crew h1 {
    margin-bottom: 50px;
    color: #152D41;
    font-size: 36px;
    font-weight: bold;
}

.employee {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.employee:last-of-type {
    margin-bottom: 0;
}

.employee:nth-of-type(even) {
    flex-direction: row-reverse;
}

.employee:nth-of-type(even) .employee-photo {
    margin-right: 0;
    margin-left: 50px;
}

.employee:nth-of-type(even) .employee-text {
    text-align: right;
}

.employee-photo {
    margin-right: 50px;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%;
}

.employee-text {
    font-size: 18px;
}

.employee-text h3 {
    font-weight: bold;
    margin-bottom: 25px;
}

/* Offer*/

.offer {
    background: #405D78;
    padding: 50px 0;
}

.box-container {
    width: 75%;
    height: 50px;
    background-color: aqua;
    margin: 0 auto;
}

/* Contact*/


/* Footer*/

footer {
    background: #4E4E4E;
    font-size: 18px;
}