.container {
    width: 760px;
}

.employee {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.employee:last-of-type {
    margin-bottom: 0;
}

.employee:nth-of-type(even) {
    flex-direction: row-reverse;
}

.employee:nth-of-type(even) .employee-photo {
    margin-right: 0;
    margin-left: 50px;
}

.employee:nth-of-type(even) .employee-text {
    text-align: right;
}

.employee-photo {
    margin-right: 50px;
    margin-bottom: 0;
}

.box-container {
    display: grid;
    grid-template-columns: 22% 22% 22%;
    grid-template-rows: auto;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
    width: 70%;
    margin: 0 auto 50px auto;
}

.contact-text {
    float: right;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer .container {
    height: 50px;
    display: flex;
    align-items: center;
    
}

.social-icon {
    display: flex;
    justify-content: flex-end;
    
}

.social-icon:first-of-type {
    margin-right: 0;
    margin-left: 0;
} 


